@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Leckerli+One&family=Monsieur+La+Doulaise&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&family=Sacramento&display=swap');



/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive;*/



html {
  /* background: #8dcfcd; */
  margin: 0;
  background-image: url(/bg_images/bg-50s.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
body * {
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Josefin Sans', sans-serif; */

}
#description {
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-weight: 600;
}
input,
textarea {
  height: 45px;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid black;
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.first {
  flex: 1;
  align-self: center;
  justify-content: center;
  padding-top: 60px;
}

.first .inner-col {
  max-width: 500px;
  display: flex;
  flex-flow: column;
  margin: auto;
}

/* .second {
  flex: 0 0 20%;
  background: url(/bg_images/bg-retro.svg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
} */

body {
 

}
.form_field_group select {
  width: 100%;
  padding-left: 10px;
}

.eyebrow {
  width: 300px;
}

.row {
  display: flex;
}

label {
}

form > div {
  margin-bottom: 15px;
}

section.wrapper {
}

* {
  box-sizing: border-box;
}

section.container {
}

h1,
p,
h2 {
  /* text-align: center; */
}

h1 {

  font-size: 5rem;
  line-height: 5rem;
  margin: 0;
  font-weight: 900;
  letter-spacing: -3px;
  margin: 0px 0px 15px 0px;
  font-family: 'Leckerli One', cursive;
  color: #FAE056;
  text-shadow: 6px 3px 0px #2d6b8c;
}

h2 {
}

p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}
label{display: none;}
#date {
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
}
h2 {
  margin-top: 0px;
}
.white-text {
  color: white;
}
/* div#details {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
} */
div#details {
  display: flex;
  margin: 0 auto;
}
div#details > div:first-child {
  border-right: 3px solid #fae056;
  padding-right: 10px;
}
div#details > div:last-child {
  padding-left: 10px;
}
div#details > div {
  width: 50%;
}
/*btn*/
button {
  background: #EDA9A7;
    border: none;
    height: 50px;
    border: 1px solid black;
    width: 250px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.form-wrapper {
  background: white;
  margin: 20px 0px;
  border: 1px solid black;

}
.inner_form {
  padding: 40px 60px 30px 60px;
}
.form_field_group textarea {
  height: 100px;
}
.browser_bar {
  background: #EDA9A7;
  height: 35px;
  border-bottom: 1px solid black;
  display: flex;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;}

.bt1, .bt2, .bt3 {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  padding: 3px;
  display: flex;
  flex-direction: column-reverse;
}
.bt1 div {
  border: 1px solid black;
}

.bt2 div {
  border: 1px solid black;
  height: 20px;
}
.bt3 {
  justify-content: center;
}
.bt3 div {
 
}
.box-wrapper {
  display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.bt3 div {
  text-align: center;
}
  button:hover {
    transition: .7s;
    background: #60b5e8;
}

.form_field_group input,
.form_field_group textarea,
.form_field_group select {
  background: #FAE056;
  -webkit-appearance: none;
  border-radius: 0;
}

.form_field_group select {
  height: 45px;
  font-weight: 600;

  border: 1px solid black;
}

.form_field_group textarea {
}

.hide {
  display: none;
}

::placeholder {
  color: black;
  font-weight: 600;

}
.form_field_group_submit {
  text-align: center;
}

/*Mobile*/
/* @media screen and (min-width: 480px) {
  body {
    background-color: #e8e8e8;
    background-color: rgb(255 185 185);
    background-color: #ffd1e0;
    background-image: url(bg_images/mobile-bg.svg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
} */

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 55px  !important;
    line-height: 55px  !important;
   }

   html {
    background-image: url(bg_images/ios-img-bg.png)  !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  
  }
}