 
  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url(https://fonts.googleapis.com/css?family=VT323);


    @font-face {
        font-family: "Genty"; /* Name the font whatever you like */
        src: url("fonts/genty/GentyDemo-Regular.ttf") format("truetype"); /* Adjust the path and filename as needed */
    }

input,
textarea {
  height: 40px;
  padding: 5px 10px;
  width: 100%;
  border: none;
}

body {
  background-color: #e8e8e8;
  background-color: rgb(255 185 185);
  background-color: #ffd1e0;
  background-image: url(bg_images/bg-4.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
    /* height: 100%; */
}
label {
  display: none;
}

form > div {
  margin-bottom: 15px;
}

section.wrapper {
  max-width: 600px;
  padding: 30px;
  padding-top: 50px;
}
* {
    box-sizing: border-box;
}
section.container {
  display: flex;
  justify-content: center;
}

h1,
p {
  text-align: center;
}
h1 {
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: Genty, cursive;
    font-size: 70px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: rgb(225, 106, 106);
    text-shadow: 3px 2px #3f4143;
    /* -webkit-text-stroke: 3px #e16a6a */
    line-height: 65px;

  }
  p {
    font-family: 'Poppins';
    font-size: 15px;
    color: white;
    color:  #4d3836;
    font-weight: 500;

  }

  /*btn*/
  
  button    {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  box-shadow: 0px 0px 0px 3px black;
  border: 0;
  border-radius: 0.5rem;
  font-size: 24px;
  background-color: #ffc83d;
  color: black;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  transition: all .9s ease-in-out;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
  height: 55px;

}

button:hover {
  background-color: #f03a17;
  color: white;
}

button::before {
  content: "😍";
  position: absolute;
  left: -0rem;
  top: 0rem;
  opacity: 1;
  font-size: 1.55rem;
  transition: all .9s ease-in-out;
  transform: rotate(0deg);
}

button:hover::before {
  content: "😘";
  opacity: 1;
  visibility: visible;
  transform: rotate(40deg);
  font-size: 2.5rem;
  top: -0.75rem;
  transition: all .9s ease-in-out;
  animation: rightRun 2s forwards;
}

button:active::before {
  content: "🥰";
}

@keyframes rightRun {
  100% {
    transform: translateX(440px);
  }
}

.form_field_group input, .form_field_group textarea, .form_field_group select {
    /* --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232; */
    height: 50px;
    border-radius: 5px;
    border: 2px solid #4d3836;
    background-color: white;
    box-shadow: 4px 4px #4d3836;
    font-size: 15px;
    font-weight: 600;
    color: #4d3836;
    padding: 5px 10px;
    outline: none;
    text-align: center;
    font-family: 'Poppins';

    

}
.form_field_group select{
  width: 100%;;
}
.form_field_group textarea { 
    height: 100px;
}
.hide {
  display: none;
}
::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid #4d3836;
  }

  /*Mobile*/
  /* @media screen and (min-width: 480px) {
body{
    background-color: #e8e8e8;
    background-color: rgb(255 185 185);
    background-color: #ffd1e0;
    background-image: url(bg_images/mobile-bg.svg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
}

  } */

  @media only screen and (max-width: 800px) {
body {
  
    background-image: url(bg_images/mobile-bg.svg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;}

  }

 